@use "../../styles/abstracts/" as *;

.main-content {
  &-title {
    width: 100%;

    h1 {
      color: $secondaryColor;
    }
  }

  &-wysiwyg {
    width: 100%;

    p.margin-none {
      margin: 0;
    }

    ul {
      li::before {
        content: "\2022";
      }
    }
  }
}
