---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./heroIntro.scss";
---

<div class="meetingrooms-hero">
  <div class="meetingrooms-hero-image">
    <div class="meetingrooms-hero-image-wrapper">
      <Image
        src={Astro.props.data.heroImage.sourceUrl}
        alt={Astro.props.data.heroImage.altText}
        inferSize={true}
      />
    </div>
  </div>

  <div class="meetingrooms-hero-content">
    <Wrapper>
      <h1 set:html={Astro.props.data.mainTitle} />
    </Wrapper>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  const title = document.querySelectorAll(".meetingrooms-hero-content h1");
  if (title) {
    gsap.from(title, {
      delay: 0.5,
      autoAlpha: 0,
      y: -100,
      duration: 0.75,
      ease: "back.out(2.5)",
    });
  }
</script>
