---
import Wrapper from "../shared/Wrapper.astro";
import "./contentBlock.scss";
---

<div class="cwcontent">
  <Wrapper wrapType="stand">
    <div class="cwcontent-container">
      <div class="cwcontent-line"></div>
      <div class="cwcontent-content" set:html={Astro.props.data.mainContent} />
    </div>
  </Wrapper>
</div>
