@use "../../styles/abstracts/" as *;

.vocontent {
  margin-top: 3rem;

  &-container {
    display: flex;
    width: 100%;
  }

  &-line {
    display: none;
    width: 2.7rem;
    height: 100%;
    margin: 0 3.3rem 0 auto;
    background-color: $tertiaryColor;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &-content {
    width: 100%;
    margin-right: 0;
    margin-left: auto;

    @media (min-width: 768px) {
      width: 90%;
    }

    p.no-margin {
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 2.5rem;

      li {
        position: relative;
        padding-left: 2rem;

        &::after {
          top: 0.1rem;
          left: 0.5rem;
          position: absolute;
          display: block;
          content: "\2022";
        }
      }
    }
  }
}
