@use "../../styles/abstracts/" as *;

$larch: url("./assets/larch.png");
$spruce: url("./assets/spruce.png");
$aspen: url("./assets/aspen.png");

.vocontent {
  margin-top: 3rem;

  &-container {
    display: flex;
    width: 100%;
  }

  &-line {
    display: none;
    width: 2.7rem;
    height: 100%;
    margin: 0 3.3rem 0 auto;
    background-color: $tertiaryColor;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &-content {
    width: 100%;
    margin-right: 0;
    margin-left: auto;

    @media (min-width: 768px) {
      width: 90%;
    }

    p.no-margin {
      margin-bottom: 0;
    }

    ul {
      margin-top: 1rem;
      margin-bottom: 2.5rem;

      li {
        position: relative;
        padding-left: 2rem;

        &::after {
          top: 0.1rem;
          left: 0.5rem;
          position: absolute;
          display: block;
          content: "\2022";
        }

        &.larch-plan {
          padding-left: 7rem;

          &::after {
            content: "";
            left: 1.2rem;
            width: 2.99rem;
            height: 4.76rem;
            background-image: $larch;
            background-position: center;
            background-size: cover;
          }
        }

        &.spruce-plan {
          padding-left: 7rem;

          &::after {
            content: "";
            width: 4.4rem;
            height: 4.88rem;
            background-image: $spruce;
            background-position: center;
            background-size: cover;
          }
        }

        &.aspen-plan {
          padding-left: 7rem;

          &::after {
            content: "";
            width: 4.71rem;
            height: 4.37rem;
            background-image: $aspen;
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
  }
}
