.pp-main {
  &-title {
    width: 100%;
  }

  &-content {
    width: 100%;

    ul {
      li {
        margin-bottom: 0.25rem;
      }
      li::before {
        content: "\2022";
      }
    }
  }
}
