$primaryColor: #9d7a58;
$secondaryColor: #c3ad8b;
$tertiaryColor: #ebe4dc;
$accentColor: #2f4560;
$shadowColor: #212326;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
