---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/shared/Headline.astro';
import Paragraph from '../components/shared/Paragraph.astro';
import Button from '../components/shared/Button.astro';
---

<Layout >
	<Headline hlstyle="one">Vestibulum auctor dapibus neque.</Headline>
	<Headline hlstyle="two">Vestibulum auctor dapibus neque.</Headline>
	<Headline hlstyle="three">Vestibulum auctor dapibus neque.</Headline>
	<Headline hlstyle="four">Vestibulum auctor dapibus neque.</Headline>
	<Headline hlstyle="five">Vestibulum auctor dapibus neque.</Headline>
	<Paragraph pstyle="one">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph>
	<Paragraph pstyle="two">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph>
	<Paragraph pstyle="three">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph>
	<Button btnstyle="one">Click Me!</Button>
	<Button btnstyle="two">Click Me!</Button>
	<Button btnstyle="three">Click Me!</Button>
</Layout>
