@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";

.homeb3 {
  &-title {
    width: 100%;
    text-align: center;

    h2 {
      @extend .hl-two;
    }
  }

  &-block {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(33.333333% - 1rem);
      margin: 1rem 0.5rem;
      padding: 3rem 5rem 3rem;
    }

    &-cream {
      background-color: $tertiaryColor;
    }

    &-brown {
      background-color: $primaryColor;

      h3,
      p {
        color: $whiteColor;
      }
    }

    &-blue {
      background-color: $accentColor;

      h3,
      p {
        color: $whiteColor;
      }
    }

    &-icon {
      width: 100%;
      margin-bottom: 2.5rem;

      &-wrap {
        max-width: 11rem;
        margin: auto;
      }
    }

    &-title {
      width: 100%;

      h3 {
        @extend .p-two;
        text-transform: uppercase;
      }
    }

    &-content {
      width: 100%;

      p {
        @extend .p-two;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  &-links {
    width: 100%;
    margin: 2rem 0 3rem;
    text-align: center;

    .homeb3-links-one {
      margin-right: 1rem;
    }

    .homeb3-links-two {
      background-color: $accentColor;
      margin-left: 1rem;
    }
  }
}
