---
import Wrapper from "../shared/Wrapper.astro";
import "./blockTwo.scss";
import Stat from "./Stat.astro";
---

<div class="homeb2">
  <Wrapper classes="homeb2-wrapper">
    <div class="homeb2-content">
      <div set:html={Astro.props.data.content} />
    </div>
    <div class="homeb2-stats">
      {
        Astro.props.data.stats.map((stat, index) => {
          return <Stat stat={stat} index={index} />;
        })
      }
    </div>
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  const trigger = document.querySelector(".homeb2-stats");
  const allStatNums = document.querySelectorAll(
    ".single-stat-content-number-stat",
  );

  if (allStatNums.length > 0 && trigger) {
    gsap.from(allStatNums, {
      textContent: 0,
      duration: 2,
      ease: "power1.in",
      snap: { textContent: 1 },
      stagger: {
        each: 1.0,
        onUpdate: function () {
          this.targets()[0].innerHTML = numberWithCommas(
            Math.ceil(this.targets()[0].textContent),
          );
        },
      },

      scrollTrigger: {
        start: "top 50%",
        markers: false,
        trigger: trigger,
      },
    });
  }
</script>
