---
import Wrapper from "../shared/Wrapper.astro";
import "./contentBlock.scss";
---

<div class="ddcontent">
  <Wrapper wrapType="stand">
    <div class="ddcontent-container">
      <div class="ddcontent-line"></div>
      <div class="ddcontent-content" set:html={Astro.props.data.mainContent} />
    </div>
  </Wrapper>
</div>
