@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.newsb1 {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &-content {
    width: 100%;
    padding: 0 4rem;

    p {
      @extend .p-two;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
