@use "../styles/abstracts/" as *;

.header {
  background: linear-gradient(
    to bottom,
    $secondaryColor 0rem,
    $secondaryColor 3.5rem,
    $shadowColor 3.5rem,
    $shadowColor 100%
  );
  padding-top: 1rem;

  &-logo {
    width: calc(100%);
    max-width: 10rem;

    @media (min-width: 1081px) {
      width: calc(10%);
      max-width: 10rem;
    }

    h1 {
      margin: 0;
      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    display: none;

    @media (min-width: 769px) {
      display: block;
      width: calc(100%);
      align-self: center;
    }

    @media (min-width: 1081px) {
      width: calc(90%);
      align-self: flex-end;
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
